{% extends "layouts/base.html" %}
{%  block content %}
{% load static %}

    <link rel="stylesheet" type="text/css" href="static/card.css">
    <title>Document</title>
<form action="{% url 'user/card.html' %}" method="POST">
    <body>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="static/img/img1.jpg" alt="">
                </figure>
                <div class="contenido">
                    <h1>Imagen1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum necessitatibus sapiente quam, laudantium explicabo quae ullam repellendus excepturi doloribus corporis ducimus atque velit magni iusto illum perspiciatis cum illo!</p>
                    <a href="#">leer mas</a>
                </div>
                <div class="contenido">
                    <h1>Imagen1</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt ipsum necessitatibus sapiente quam, laudantium explicabo quae ullam repellendus excepturi doloribus corporis ducimus atque velit magni iusto illum perspiciatis cum illo!</p>
                    <a href="#">leer mas</a>
                </div>
            </div>
        </div>
    </body>
</form>
{% endblock %}